* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 15px;
}

a {
  color: #888;
}

pre {
  font-family: monaco, monospace;
  font-size: 14px;
}

footer {
  color: #999;
  text-align: center; 
  padding: 100px 0 40px;
}

footer p {
  font-size: 14px;
  line-height: 1em;
}

.center {
  text-align: center;
}

.description {
  position: relative;
}

.description > p {
  font-size: 14px;
  margin-top: 20px;
}

.logo {
  display: block;
  text-align: center;
  margin: 40px 0 20px 0;
}

.chrome {
  background: #ececec; /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #e6e6e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfcfc 0%,#e6e6e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfcfc 0%,#e6e6e6 100%); /* IE10+ */
  background: linear-gradient(top, #fcfcfc 0%,#e6e6e6 100%); /* W3C */
  -webkit-box-shadow: inset 0 0 6px 0 rgba(255,255,255,0.9), 
                      inset 0 1px 0 0 white, 
                      inset 0 -1px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: inset 0 0 6px 0 rgba(255,255,255,0.9), 
                      inset 0 1px 0 0 white, 
                      inset 0 -1px 3px rgba(0,0,0,0.1);
      -ms-box-shadow: inset 0 0 6px 0 rgba(255,255,255,0.9), 
                      inset 0 1px 0 0 white, 
                      inset 0 -1px 3px rgba(0,0,0,0.1);
       -o-box-shadow: inset 0 0 6px 0 rgba(255,255,255,0.9), 
                      inset 0 1px 0 0 white, 
                      inset 0 -1px 3px rgba(0,0,0,0.1);
          box-shadow: inset 0 0 6px 0 rgba(255,255,255,0.9), 
                      inset 0 1px 0 0 white, 
                      inset 0 -1px 3px rgba(0,0,0,0.1);
  text-shadow: 0 1px white;
}

.download, .fork {
  display: block;
  float: left;
  margin-right: 17px;
}

.component ul {
  list-style: none;
}

.component li {
  float: left;
  margin: 4px 8px 4px 0;
}

.component pre {
  background-color: #F7F7F9;
  border: 1px solid #E1E1E7;
  display: inline-block;
  padding: 2px 5px;
  color: #229695;
  -webkit-border-radius: 3px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
          border-radius: 3px;
}

pre.inline {
  background-color: #F7F7F9;
  border: 1px solid #E1E1E7;
  display: inline;
  padding: 2px 5px;
  color: #229695;
  -webkit-border-radius: 3px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
          border-radius: 3px;
}

button,
a.button {
  font-size: 2em;
  font-weight: 400;
  padding: 0.35em 1em;
}

.tk-league-gothic {
  font-weight: 400;
  text-transform: uppercase;
}

#sidebar {
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 0 15px;
  overflow: auto;
  background-color: #FFF;
  border-right: 1px solid #ddd;
  -webkit-box-shadow: 1px 0 6px rgba(0,0,0,0.1);
     -moz-box-shadow: 1px 0 6px rgba(0,0,0,0.1);
      -ms-box-shadow: 1px 0 6px rgba(0,0,0,0.1);
       -o-box-shadow: 1px 0 6px rgba(0,0,0,0.1);
          box-shadow: 1px 0 6px rgba(0,0,0,0.1);
}

#sidebar h4 {
  text-align: center;
  margin-bottom: 20px;
}

#guideContainer {
  margin-left: 200px;
  background-color: #f8f8f8;
}

#guide {
  width: 580px;
  height: 100%;
  margin: 0 auto;
}

.backpack-tabs {
  border: 1px solid #ddd;
  padding-top: 7px;
  padding-left: 7px;
}

.backpack-tab-content {
  padding: 10px 10px 0;
}

.code {
  padding: 20px 20px 0;
}

.tab-code .backpack-tab-content {
  padding-bottom: 10px;
}

.backpack-tab-content button {
  font-size: 23px;
  padding: 5px 25px;
  margin: 10px 0 10px 0;
  float: right;
}

#sidebar .backpack-list > li, 
#sidebar .backpack-list .backpack-menu-item {
  float: none;
  border: none;
  font-size: 14px;
}


#sidebar .backpack-list > li > a,
#sidebar .backpack-list .backpack-menu-item a {
  color: #444;
  font-weight: normal;
  padding: 10px 0;
  display: block;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  width: 100%;
}

#sidebar .backpack-list > li > ul {
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
} 

#sidebar .backpack-menu-item > .backpack-list > .backpack-menu-item > a {
  font-weight: normal;
  color: #999;
  padding: 5px 0;
}

.sidebar-overview > a {
  border-bottom: 1px dotted #ddd !important;
}

.sidebar-logo {
  right: 68px;
  position: absolute;
  bottom: 18px;
}

#sidebar .backpack-list > .sidebar-logo a {
  padding: 0;
}

#header {
  background: url('../img/backpack-logo.png') no-repeat 40px 35px;
  width: 650px;
  padding-top: 40px;
  position: relative;
  padding-left: 297px;
  padding-bottom: 15px;
}

.big-h1 {
  font-size: 80px;
  color: #444;
}

.big-h2 {
  font-size: 32px;
  color: #999;
  margin-top: 20px;
}

.big-h3 {
  color: #999;
  font-weight: normal;
  margin-top: 15px;
}

.github-social {
  margin: 20px 0 40px;
}

.title-h3 {
  color: #333637;
  font-size: 30px;
  margin-bottom: 15px;
}

.title-h4 {
  color: #333637;
  font-size: 20px;
  margin-top: 40px;
  display: block;
  border-bottom: 1px dotted rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.top-20 {
  margin-top: 20px;
}

.bottom-60 {
  margin-bottom: 60px;
}

.padding-20 {
  padding: 20px;
}

.code p {
  color: #999;
}

button.orange,
a.button.orange {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  background: #FF4519; /* Old browsers */
  background: -moz-linear-gradient(top, #FF4519 0%, #dc3e19 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF4519), color-stop(100%,#dc3e19)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FF4519 0%,#dc3e19 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FF4519 0%,#dc3e19 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FF4519 0%,#dc3e19 100%); /* IE10+ */
  background: linear-gradient(top, #FF4519 0%,#dc3e19 100%); /* W3C */
}

button.orange:hover,
button:focus,
a.button.orange:hover,
a.button.orange:focus {
  background: #FF4519; /* Old browsers */
  background: -moz-linear-gradient(top, #FF4519 0%, #ea3d19 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF4519), color-stop(100%,#ea3d19)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FF4519 0%,#ea3d19 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FF4519 0%,#ea3d19 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FF4519 0%,#ea3d19 100%); /* IE10+ */
  background: linear-gradient(top, #FF4519 0%,#ea3d19 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4519', endColorstr='#ea3d19',GradientType=0 ); /* IE6-9 */
}

button.orange:active,
a.button.orange:active {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  background: #FF4519; /* Old browsers */
  background: -moz-linear-gradient(top, #dc3e19 0%, #FF4519 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc3e19), color-stop(100%,#FF4519)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dc3e19 0%,#FF4519 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dc3e19 0%,#FF4519 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dc3e19 0%,#FF4519 100%); /* IE10+ */
  background: linear-gradient(top, #dc3e19 0%,#FF4519 100%); /* W3C */
}